{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <link rel="icon" href="{% static 'img/icono_agronova.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/modales.css' %}">
    {% block extra_styles %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <section class="pie-contenedor">
            <section class="pie-seccion">
                <h4 class="soporte">Soporte técnico</h4>
                <div class="centrado">
                    <p>agronovaesloni@gmail.com</p>
                </div>
            </section>

            <section class="pie-seccion">
                <h4 class="creditos">Créditos</h4>
                <div class="centrado">
                    <p>Anyí Lorena Vásquez Sánchez</p>
                    <p>María Estefanía Tubérlía Herrera</p>
                    <p>Nicol Melissa Jiménez Moreno</p>
                </div>
            </section>

            <section class="pie-seccion">
                <h4 class="terminos"><a href="{% url 'terminos_condiciones' %}">Términos y condiciones</a></h4>
            </section>
        </section>
    </footer>

    <!-- Modal de Confirmación -->
    <div class="modal fade" id="confirmarModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-4">
                <div class="modal-body">
                    <p class="fs-5">¿Deseas realizar el registro?</p>
                    <div class="d-flex justify-content-center gap-3 mt-4">
                        <button type="submit" class="btn btn-si" id="btnConfirmar">SI</button>
                        <button type="button" class="btn btn-no" data-bs-dismiss="modal">NO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-success" id="exitoModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-5 position-relative">
                <div class="modal-body">
                    <p class="fs-5"> <strong>¡Se ha realizado el registro correctamente!</strong> <br><br>
                                    Gracias por mantener actualizada la información agrícola en Agronova.
                                    Tu compromiso contribuye al desarrollo y control eficiente de la finca. 
                    </p>
                </div>
                <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal"
                    aria-label="Cerrar">
                </button>
            </div>
        </div>
    </div>

    <!-- Modal de Advertencia -->
    <div class="modal fade" id="advertenciaModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content text-center p-4 position-relative">
                <!-- Botón X -->
                <div class="modal-body">
                    <p class="advertencia-texto">
                        <i class="fa-solid fa-triangle-exclamation text-danger"></i>
                        Aún no tienes todos los datos ingresados.
                    </p>
                    <div class="d-flex justify-content-center mt-3">
                        <button type="button" class="btn-close position-absolute end-0 top-0 m-3"
                            data-bs-dismiss="modal" aria-label="Cerrar">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    {% if ok %}
    <script>
        mostrarModal = "true";
    </script>
    {% endif %}
    <script src="{% static 'js/modales.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>