body{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 0;
    background: #000; 
}

main {
    width: 100%;
    background: url('/static/img/fondo-sesion.jpeg') center center / cover fixed no-repeat #000;
    display: flex;
    position: absolute;
    top: 20px;;
    margin: 0;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.cerrar-login {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    top: 0;
    right: 30px;
    padding: 0;
}

.cerrar-login a {
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.cerrar-login a:hover {
    transform: scale(1.2);
    color: #4b7510;
}

.contenedor_principal{
    width: 80%;
    margin:0px auto;
}

.logo{
    width: 100%;
    display: flex; 
    justify-content: center;  
}

.logo-item{
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.logo-item:hover{
    transform: scale(1.2);
    filter:drop-shadow(0 0 10px #fff) ;
}

.encabezado {
    display: flex;
    border: none;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
}

.encabezado legend{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.botones,.boton{
    width: 100%;
    display: flex;
    justify-content: left;
    width: 80%;
    background-color: #4b7510; /* verde agronova */
    padding: 1.5rem 30px;
    margin: 20px 0;
    border-radius: 23px;
    border-right: 5px solid #fff;
    border-bottom: 5px solid #fff;
}


.botones input{
    width: 100%;
    display: flex;
    border: none;
    outline: none;
    margin: 0 20px;
    background: transparent;
    font-size: 20px;
    color: #fff;
}
input {
    background: transparent;
    color: #fff;
}

.botones input[type="email"],
.botones input[type="email"]:focus,
.botones input[type="email"]:valid,
.botones input[type="email"]:focus:valid {
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
    box-shadow: none !important;
}


input::placeholder,.boton{
    color: #fff;
}

.botones i,.boton i{
    font-size: 30px;
}

.botones label {
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.boton{
    width: 70%;
    display: flex;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    justify-content: center;
    margin-bottom: 40px;
    transition: transform 0.2s ease
}

.boton:hover{
    transform: scale(1.1);
}

.boton i{
    margin: 0 20px;
}

.volver a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-decoration: underline;
    letter-spacing: 1px;
    font-weight: bold;
}
