header {
    position: absolute;
    height: 100px;
    background: #fff;
    color: #ccc;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-image: url("/static/img/historia.jpg");
    background-size: cover; /*  Mostrar imagen completa sin recortarla */
    background-repeat: no-repeat;

}

/* Imagen lado izquierdo que ocupa todo el fondo */
.contenedor {
    position: relative;
    width: 100%;
    display: flex;
    padding: 40px 20px;

}



/* Capa negra transparente sobre la imagen */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}


.historia {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    position: relative;
    margin-left: auto;
    z-index: 2;
    color: #fff;
    text-align: center;
    padding-right: 50px;

}

/* Título */
h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    color:#aaa;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin-top: 80px;
}

p {
    font-size: 24px;
    line-height: 1.8;
    letter-spacing: 1px;
    margin-bottom: 24px;
    text-align: justify;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    font-weight: 400;
}



