body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    min-height: 100vh;
    background: url("/static/img/ventajas.jpg") no-repeat center center fixed;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background: transparent; /* completamente transparente por defecto */
    color: #fff;
    transition: background 0.3s ease;
}

header:hover {
    background: rgba(0, 0, 0, 0.03); /* ✅ mínimo visible al hover */
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.contenedor {
    display: flex;
    height: auto;
    margin-top: 50px;
}

.contenedor_izquierdo {
    width: 50%;
    background: transparent;
    color: #ddd;
    padding: 0 50px;
    padding-top: 60px;
}

.contenedor_derecho {
    width: 50%;
    background: transparent;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4.2rem; 
    font-weight: bold;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 40px;
    color:#ccc ;
}

p {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px; 
    font-weight: 400;
    color: #aaa;
    line-height: 1.5;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 15px;
}

.contenedor_izquierdo li {
    list-style: none;
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
}

.contenedor_izquierdo li strong{
    font-size: 35px;
    color: #bbb;
}