{% extends "base_header_2.html" %}
{% load static %}
{% load humanize %}


{% block title %} 
    <title> Total recolección </title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'cafe_cardamomo/css/total_recoleccón.css' %}">
{% endblock %}


{% block nav_icons %}
    <div class="boton">
        <button type="button" title="Descargar datos">
            <i class="fas fa-download"></i>
            <span>Descargar</span>
        </button>
    </div>

    <div class="cerrar-login">
        <a href="javascript:history.back()" class="acciones" title="Cancelar e ir atrás">✖</a>
        <span>Salir</span>
    </div>
    
{%endblock%}

{% block content %}
    <section>
        <table>
            <tr>
                <th>Año</th>
                <th>Mes</th>
                <th>Nombre del lote</th>
                <th>Total de kilos recolectados</th>
            </tr>

            {% for fila in total_recoleccion %}
            <tr>
                <td>{{ fila.año }}</td>
                <td>{{ fila.mes }}</td>
                <td>{{ fila.nombre_lote }}</td>
                <td>{{ fila.total_kilos|floatformat:0|intcomma}}</td>
            </tr>
            {% endfor %}

            {% for i in filas_vacias %}
            <tr><td></td><td></td><td></td><td></td></tr>
            {% endfor %}
        </table>
    </section>
{%endblock%}

