{% extends "base_header_1.html" %}
{% load static %}
{% load humanize %}


{% block title %}
<title> Total recolección </title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/tablas.css' %}">
<link rel="stylesheet" href="{% static 'cafe_cardamomo/css/informe.css' %}">
<link rel="stylesheet" href="{% static 'css/filtro_lotes.css' %}">
{% endblock %}

{% block logotipo %}
Tota recoleccion
{% endblock %}

{% block nav_icons %}

<div class="boton dropdown" title="Descargar datos">
    <button type="button">
        <i class="fas fa-download"></i>
    </button>
    <div class="dropdown-content">
        <a href="{% url 'exportar_total_recolecciones_excel' %}?año={{ año }}&mes={{ mes }}&lote={{ lote }}">Excel</a>
        <a href="{% url 'exportar_total_recolecciones_pdf' %}?año={{ año }}&mes={{ mes }}&lote={{ lote }}">PDF</a>
    </div>
    <span>Descargas</span>
</div>

<div class="boton">
    <button type="button" title="Cancelar e ir atrás">
        <a href="{% url 'gestionar_recoleccion' %}">✖</a>
    </button>
    <span>Salir</span>
</div>

{%endblock%}

{% block content %}
{% include "cafe_cardamomo/filtro_total_recoleccion.html" %}

<section class="tabla">
    <div class="tabla-scroll-wrapper">
        <table>
            <tr>
                <th>Año</th>
                <th>Mes</th>
                <th>Nombre del lote</th>
                <th>Tipo de producto</th>
                <th>Total de kilos recolectados</th>
                
            </tr>

            {% for fila in total_recoleccion %}
            <tr>
                <td>{{ fila.año }}</td>
                <td>{{ fila.mes }}</td>
                <td>{{ fila.nombre_lote }}</td>
                <td>{{ fila.tipo_producto }}</td>
                <td>{{ fila.total_kilos|floatformat:0|intcomma}}</td>
            </tr>
            {% endfor %}

            {% for i in filas_vacias %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{%endblock%}
{% block script %}
    <script src="{% static 'cafe_cardamomo/css/informe.js' %}"></script>
{% endblock %}