{% extends "base_actualizar.html" %}
{% load static %}

{% block title %} 
    <title>Actualizar administrador</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main>
    <div class="cerrar-login">
        <a href="{% url 'gestionar_administrador' %}" title="Cancelar e ir atrás">✖</a>
    </div>

    <section class="contenedor_principal">

        <div class="logo">
            <a href="{% url 'inicio' %}" title="volver al inicio">
                <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
            </a>
        </div>

        <form id="formularioIngreso">
            <fieldset class="encabezado">
                <legend>Actualizar administrador</legend>

                <div class="botones">
                    <i class="fas fa-phone"></i>
                    <label for="numero_telefonico">Numero telefonico</label>
                    <input id="numero_telefonico" name="numero_telefonico" type="tel" placeholder="Numero telefonico" required/>
                </div>

                <div class="botones">
                    <i class="fas fa-envelope"></i>
                    <label for="Correo_electronico">Correo electronico</label>
                    <input id="correo_electronico" name="correo_electronico" type="email" placeholder="Correo electronico" required/>
                </div>

                <button class="boton" type="button" id="btnEnviar" ><i class="fas fa-address-card"></i>Actualizar administrador</button>
            </fieldset>
        </form>
    </section>
</main>
{% endblock %}