{% extends "base.html" %}
{% load static %}

{% block title %} 
    <title>Editar perfil</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'administracion/css/editar_perfil.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
<main>
    <section class="contenedor_principal">
        <div class="logo">
            <a href="{% url 'inicio' %}" title="Volver al inicio">
                <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
            </a>
        </div>

        <fieldset class="encabezado tarjeta-perfil">
            <legend>Editar perfil</legend>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger text-center ">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            <form method="POST">
                {% csrf_token %}

                <div class="campo">
                    <i class="fas fa-phone"></i>
                    <input type="text" name="telefono" placeholder="Número telefónico" >
                </div>

                <div class="campo">
                    <i class="fas fa-envelope"></i>
                    <input type="email" name="correo" placeholder="Correo electrónico" >
                </div>

                <section class="boton">
                    <button class="boton-guardar" type="submit">
                        <i class="fas fa-check"></i> Confirmar
                    </button>
                    <a href="{% url 'sobre_mi' %}" class="boton-guardar" type="reset">
                        <i class="fas fa-times"></i> Cancelar
                    </a>
                </section>
            </form>
        </fieldset>
    </section>
</main>
{% endblock %}
