{% extends "base.html" %}
{% load static %}

{% block title %} 
    <title>Editar perfil</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'administracion/css/editar_perfil.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main>
    <div class="cerrar-login">
        <a href="{% url 'sobre_mi' %}" title="Cancelar e ir atrás">✖</a>
    </div>

    <section class="contenedor_principal">

        <div class="logo">
            <a href="{% url 'inicio' %}" title="Volver al inicio">
                <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
            </a>
        </div>

        <fieldset class="encabezado tarjeta-perfil">
            <legend>Editar perfil</legend>

            <form method="POST">
                {% csrf_token %}

                <div class="campo">
                    <i class="fas fa-phone"></i>
                    <input id="numero_telefonico" name="numero_telefonico" type="tel" placeholder="Número telefónico" required />
                </div>

                <div class="campo">
                    <i class="fas fa-envelope"></i>
                    <input id="correo_electronico" name="correo_electronico" type="email" placeholder="Correo electrónico" required />
                </div>

                <section class="boton">
                    <button class="boton-guardar" type="submit">
                        <i class="fas fa-check"></i> Confirmar
                    </button>
                    <button class="boton-guardar" type="reset">
                        <i class="fas fa-times"></i> Cancelar
                    </button>
                </section>
            </form>

        </fieldset>
    </section>
</main>
{% endblock %}
