{% extends "base_registros.html" %}
{% load static %}

{% block title %}
<title>Registrar administrador</title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
<link rel="stylesheet" href="{% static 'css/validaciones.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="cerrar-login">
        <a href="{% url 'gestionar_administrador' %}" title="Cancelar e ir atrás">✖</a>
    </div>

<section class="contenedor_principal">

    <div class="logo">
        <a href="{% url 'inicio' %}" title="volver al inicio">
            <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
        </a>
    </div>

    <form id="formularioIngreso" method="post">
        {% csrf_token %}
        <fieldset class="encabezado">
            <legend>Registro de administrador</legend>

            {% if form.errors %}
                <div class="error-msg">Por favor, corrige los siguientes errores:</div>
            {% endif %}

            {{ form.id_admin.errors }}
            <div class="botones">
                <i class="fas fa-file-alt"></i>
                <label for="Documento">Documento</label>
                <input id="documento" name="id_admin" type="number" placeholder="Documento" required
                    value="{{ form.id_admin.value|default_if_none:'' }}">
            </div>

            {{ form.nombre.errors }}
            <div class="botones">
                <i class="fas fa-id-badge"></i>
                <label for="nombres">Nombres</label>
                <input id="nombres" name="nombre" type="text" placeholder="Nombres" required
                    value="{{ form.nombre.value|default_if_none:'' }}">
            </div>

            {{ form.apellido.errors }}
            <div class="botones">
                <i class="fas fa-id-badge"></i>
                <label for="Apellidos">Apellidos</label>
                <input id="apellidos" name="apellido" type="text" placeholder="Apellidos" required
                    value="{{ form.apellido.value|default_if_none:'' }}">
            </div>

            {{ form.telefono.errors }}
            <div class="botones">
                <i class="fas fa-phone"></i>
                <label for="numero_telefonico">Numero telefonico</label>
                <input id="numero_telefonico" name="telefono" type="tel" placeholder="Numero telefonico" required
                    value="{{ form.telefono.value|default_if_none:'' }}">
            </div>

            {{ form.correo.errors }}
            <div class="botones">
                <i class="fas fa-envelope"></i>
                <label for="Correo_electronico">Correo electronico</label>
                <input id="correo_electronico" name="correo" type="email" placeholder="Correo electronico" required />
            </div>

            <button class="boton" type="button" id="btnEnviar"><i class="fas fa-address-card"></i>Registrar
                administrador</button>
        </fieldset>
    </form>
</section>

{% endblock %}