{% extends "base_actualizar.html" %}
{% load static %}

{% block title %} 
    <title>Registrar personal</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

    <div class="cerrar-login">
        <a href="{% url 'gestionar_personal' %}" title="Cancelar e ir atrás">✖</a>
    </div>

    <section class="contenedor_principal">

        <div class="logo">
            <a href="{% url 'inicio' %}" title="volver al inicio">
                <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
            </a>
        </div>

        <form id="formularioIngreso">
            <fieldset class="encabezado">
                <legend>Actualizar personal</legend>

                <div class="botones">
                    <i class="fas fa-phone"></i>
                    <label for="numero_telefonico">Numero telefonico</label>
                    <input id="numero_telefonico" name="numero_telefonico" type="tel" placeholder="Numero telefonico" required />
                </div>

                <div class="botones">
                    <i class="fas fa-users icono"></i>
                    <label for="Tipo_de_personal">Tipo</label>
                    <select name="Tipo_de_personal" id="Tipo_de_personal" aria-placeholder="Tipo">
                        <option value="Cafe">Vinculado</option>
                        <option value="Cardamomo">No Vinculado</option>
                    </select>
                </div>

                <div class="botones">
                    <i class="fas fa-dollar-sign"></i>
                    <label for="pago_por_contrato">Pago por contrato</label>
                    <input id="pago_por_contrato" name="pago_por_contrato" type="number" step="0.01" min="0" placeholder="Pago por contrato"/>
                </div>

                <button class="boton" type="button" id="btnEnviar"><i class="fas fa-sign-out-alt"></i>Actualizar personal</button>
            </fieldset>
        </form>
    </section>
{% endblock %}