{% extends "base_registros.html" %}

{% load static %}

{% block title %} 
    <title>Registrar personal</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/Formularios.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<main>
    <div class="cerrar-login">
        <a href="{% url 'gestionar_personal' %}" title="Cancelar e ir atrás">✖</a>
    </div>

    <section class="contenedor_principal">

        <div class="logo">
            <a href="{% url 'inicio' %}" title="volver al inicio">
                <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
            </a>
        </div>

        <form id="formularioIngreso" method="post">
            {% csrf_token %}
            <fieldset class="encabezado">
                <legend>Registro de personal</legend>

                <div class="botones">
                    <i class="fas fa-file-alt"></i>
                    <label for="Documento">Documento</label>
                    <input id="id_empleado" name="id_empleado" type="number" placeholder="Documento" required />
                </div>

                <div class="botones">
                    <i class="fas fa-id-badge"></i>
                    <label for="nombres">Nombres</label>
                    <input id="nombre" name="nombre" type="text" placeholder="Nombres" required />
                </div>

                <div class="botones">
                    <i class="fas fa-id-badge"></i>
                    <label for="Apellidos">Apellidos</label>
                    <input id="apellido" name="apellido" type="text" placeholder="Apellidos" required />
                </div>

                <div class="botones">
                    <i class="fas fa-phone"></i>
                    <label for="numero_telefonico">Numero telefonico</label>
                    <input id="telefono" name="telefono" type="tel" placeholder="Numero telefonico" required />
                </div>

                <div class="botones">
                    <i class="fas fa-users icono"></i>
                    <label for="Tipo_de_personal">Tipo</label>
                    <select name="tipo_empleado" id="tipo_empleado" aria-placeholder="Tipo">
                        <option value="Vinculado">Vinculado</option>
                        <option value="No vinculado">No Vinculado</option>
                    </select>
                </div>

                <div class="botones">
                    <i class="fas fa-dollar-sign"></i>
                    <label for="pago_por_contrato">Pago por contrato</label>
                    <input id="pago_contrato" name="pago_contrato" type="number" step="0.01" min="0" placeholder="Pago por contrato"/>
                </div>

                <button class="boton" type="button" id="btnEnviar">
                    <i class="fas fa-sign-out-alt"></i>Registrar personal</button>
            </fieldset>
        </form>
    </section>
</main>
{% endblock %}