{% extends "base_actualizar.html" %}
{% load static %}

{% block title %} 
    <title>Actualizar agroquimico</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block content %}
    <div class="cerrar-login">
        <a href="{% url 'inventario_agroquimicos' %}" title="Cancelar e ir atrás">✖</a>
    </div>

    <section class="contenedor_principal">
        <div class="logo">
            <a href="{% url 'inicio' %}" title="Volver al inicio">
                <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
            </a>
        </div>

        <form id="formularioIngreso"  method="POST">
            {% csrf_token %}
            <fieldset class="encabezado">
                <legend>Actualizar datos del agroquímico</legend>

            {% if messages %}
                {% for message in messages %}
                    <div class="mi-mensaje-error text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

                <!-- Descripción del agroquímico -->
                <div class="botones">
                    <i class="fa-solid fa-file-lines"></i>
                    <label for="descripcion">Descripción del agroquímico</label>
                    <textarea id="descripcion" name="descripcion" placeholder="Descripción del agroquímico...">{{ inventario.descripcion }}</textarea>
                </div>


                <!-- Unidad de medida -->
                <div class="botones">
                    <i class="fa-solid fa-flask-vial"></i>
                    <label for="unidad">Unidad de medida</label>
                    <select name="unidad" id="unidad">
                        <option value="" disabled {% if not inventario.unidad %}selected{% endif %}>Seleccionar unidad de medida</option>
                        <option value="Kg" {% if inventario.unidad == 'Kg' %}selected{% endif %}>Kilogramos (Kg)</option>
                        <option value="g" {% if inventario.unidad == 'g' %}selected{% endif %}>Gramos (g)</option>
                        <option value="L" {% if inventario.unidad == 'L' %}selected{% endif %}>Litros (L)</option>
                    </select>
                </div>


                <!-- Stock -->
                <div class="botones">
                    <i class="fa-solid fa-box-open"></i>
                    <label for="stock">Stock</label>
                    <input type="number" id="stock" name="stock" value="{{ inventario.stock|floatformat:0 }}" placeholder="stock" min="1">
                </div>

                <button class="boton" type="button" id="btnEnviar">
                    <i class="fas fa-save"></i>Actualizar datos
                </button>
            </fieldset>
        </form>
    </section>
{% endblock %}
