{% extends "base_actualizar.html" %}
{% load static %}

{% block title %} 
    <title>Actualizar producto final</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block content %}
<div class="cerrar-login">
    <a href="javascript:history.back()" title="Cancelar e ir atrás">✖</a>
</div>

<section class="contenedor_principal">
    <div class="logo">
        <a href="{% url 'inicio' %}" title="volver al inicio">
            <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
        </a>
    </div>

    <form id="formularioIngreso"  method="POST">
        {% csrf_token %}
        <fieldset class="encabezado">
            <legend>Actualizar datos del producto</legend>
            
        {% if messages %}
            {% for message in messages %}
                <div class="mi-mensaje-error text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

            <!-- nombre del producto -->
            <div class="botones">
                <i class="fa-solid fa-clipboard-list"></i>
                <label for="nombreProductofinal">nombre_producto</label>
                <input type="text" id="nombreProductofinal" name="nombreProductofinal" value="{{inventario.nombre}}" placeholder="Nombre del produto final">
            </div>

            <!-- Precio unitario -->
            <div class="botones">
                <i class="fa-solid fa-dollar-sign"></i>
                <label for="precio_unitario">Precio unitario</label>
                <input type="number" id="precio_unitario" name="precio_unitario" value="{{ inventario.precio_unitario|floatformat:0 }}" placeholder="Precio Unitario" min="0">
            </div>


            <!-- Stock del producto -->
            <div class="botones">
                <i class="fa-solid fa-box-open"></i>
                <label for="stock">Cantidad disponible</label>
                <input type="number" id="stock" name="stock" value="{{ inventario.stock|floatformat:0 }}" placeholder="Cantidad disponible" min="0">
            </div>


            <button class="boton" type="button" id="btnEnviar"><i class="fas fa-save"></i>Actualizar datos</button>
        </fieldset>
    </form>
</section>
{% endblock %}
