{% extends "base_actualizar.html" %}
{% load static %}

{% block title %}
<title>Actualizar arbustos</title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block content %}
<div class="cerrar-login">
    <a href="javascript:history.back()" title="Cancelar e ir atrás">✖</a>
</div>

<section class="contenedor_principal">
    <div class="logo">
        <a href="{% url 'inicio' %}" title="volver al inicio">
            <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
        </a>
    </div>

    <form id="formularioIngreso" method="POST">
        {% csrf_token %}
        <fieldset class="encabezado">
            <legend>Actualizar datos del registro de arbustos</legend>

        {% if messages %}
            {% for message in messages %}
                <div class="mi-mensaje-error text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

            <!-- Cantidad sembrada -->
            <div class="botones">
                <i class="fa-solid fa-sort-numeric-up-alt"></i>
                <label for="cantidadSembrada">Cantidad sembrada</label>
                <input type="number" id="stock" name="stock" value="{{ inventario.stock|floatformat:0 }}" placeholder="Cantidad sembrada"
                    min="1">
            </div>

            <!-- Fecha de siembra -->
            <div class="botones">
                <span id="icono-calendario" style="cursor: pointer;">
                    <i class="fa-solid fa-calendar-days"></i>
                </span>
                <input type="text" id="fecha" name="fecha_siembra" value="{{ inventario.fecha_siembra|date:'Y-m-d' }}" placeholder="Fecha">
            </div>

            <button class="boton" type="button" id="btnEnviar"><i class="fas fa-save"></i>Actualizar datos</button>
        </fieldset>
    </form>
</section>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<script src="{% static 'js/calendario.js' %}"></script>
{% endblock %}