{% extends "base_actualizar.html" %}
{% load static %}

{% block title %}
<title>Actualizar herramienta</title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block content %}
    <div class="cerrar-login">
        <a href="{% url 'inventario_herramientas' %}" title="Cancelar e ir atrás">✖</a>
    </div>

    <section class="contenedor_principal">
        <div class="logo">
            <a href="{% url 'inicio' %}" title="volver al inicio">
                <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
            </a>
        </div>

        <form id="formularioIngreso" method="POST">
            {% csrf_token %}
            <fieldset class="encabezado">
                <legend>Actualizar registro</legend>

            {% if messages %}
                {% for message in messages %}
                    <div class="mi-mensaje-error text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

                <!-- Estado del producto -->
                <div class="botones">
                    <i class="fa-solid fa-circle-check"></i>
                    <label for="estado">Estado</label>
                    <select id="estado" name="estado">
                        <option value="" disabled {% if not inventario.estado %}selected{% endif %}>Estado</option>
                        <option value="buena" {% if inventario.estado == "buena" %}selected{% endif %}>Buena</option>
                        <option value="regular" {% if inventario.estado == "regular" %}selected{% endif %}>Regular</option>
                        <option value="mala" {% if inventario.estado == "mala" %}selected{% endif %}>Mala</option>
                    </select>
                </div>

                <!-- Stock del producto -->
                <div class="botones">
                    <i class="fa-solid fa-box-open"></i>
                    <label for="stock">Stock</label>
                    <input type="number" id="stock" name="stock" value="{{ inventario.stock|floatformat:0 }}" placeholder="Stock" min="0" >
                </div>

                <button class="boton" type="button" id="btnEnviar"><i class="fas fa-save"></i>Actualizar registro</button>

            </fieldset>
        </form>
    </section>
{% endblock %}