{% extends "base_header_1.html" %}
{% load static %}

{% block title %} 
    <title> Inventario de productos finales </title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
{% endblock %}

{% block logotipo %}
    Productos finales
{% endblock %}

{% block nav_icons %}
    <div class="boton">
        <a href="{% url 'actualizar_producto_final' %}" class="boton-actualizar">
            <i class="fas fa-arrows-rotate"></i>
        </a>
        <span>Actualizar</span>
    </div>

    <div class="boton">
        <button type="button">
            <i class="fas fa-trash"></i>
        </button>
        <span>Eliminar</span>
    </div>
{%endblock%}


{% block content %}
    <section>
        <table>
            <tr>
                <th>Código inventario</th>
                <th>Nombre producto final</th>
                <th>Descripción del producto</th>
                <th>Contenido neto</th>
                <th>Precio unitario</th>
                <th>Stock</th>
            </tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </section>

    <div class="ingresar">
        <a href="{% url 'registrar_inventario_producto_final' %}" class="agregar-btn">+</a>
        <span class="agregar-texto">Agregar</span>
    </div>
{% endblock %}
