{% extends "base_registros.html" %}

{% load static %}

{% block title %} 
    <title>Registrar arbustos</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block content %}
<div class="cerrar-login">
    <a href="javascript:history.back()" title="Cancelar e ir atrás">✖</a>
</div>

<section class="contenedor_principal">
    <div class="logo">
        <a href="{% url 'inicio' %}" title="volver al inicio">
            <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
        </a>
    </div>

    <form id="formularioIngreso">
        <fieldset class="encabezado">
            <legend>Registro de arbustos</legend>

            <!-- Tipo de arbusto -->
            <div class="botones">
                <i class="fa-solid fa-seedling"></i>
                <label for="tipoArbusto">Tipo de arbusto</label>
                <select name="tipoArbusto" id="tipoArbusto" required>
                    <option value="" disabled selected>Seleccionar tipo de arbusto</option>
                    <option value="Cafe">Café</option>
                    <option value="Cardamomo">Cardamomo</option>
                </select>
            </div>

            <!-- Nombre del arbusto -->
            <div class="botones">
                <i class="fa-solid fa-leaf"></i>
                <label for="nombreArbusto">Nombre del arbusto</label>
                <input type="text" id="nombreArbusto" name="nombreArbusto" placeholder="Nombre del arbusto" required>
            </div>

            <!-- Código del lote de siembra -->
            <div class="botones">
                <i class="fas fa-key"></i>
                <label for="codigoLote">Código del lote de siembra</label>
                <input type="text" id="codigoLote" name="codigoLote" placeholder="Código del lote de siembra" required>
            </div>

            <!-- Cantidad sembrada -->
            <div class="botones">
                <i class="fa-solid fa-sort-numeric-up-alt"></i>
                <label for="cantidadSembrada">Cantidad sembrada</label>
                <input type="number" id="cantidadSembrada" name="cantidadSembrada" placeholder="Cantidad sembrada" min="1" required>
            </div>
            
            <div class="botones">
                <span id="icono-calendario" style="cursor: pointer;">
                    <i class="fa-solid fa-calendar-days"></i>
                </span>
                <input type="text" id="fecha" name="fecha" required placeholder="Fecha">
            </div>

            <!-- Renovación -->
            <div class="botones">
                <i class="fa-solid fa-toggle-on"></i>
                <label for="renovacion">Renovación</label>
                <select name="renovacion" id="renovacion" required>
                    <option value="" disabled selected>¿Es renovación?</option>
                    <option value="Si">Sí</option>
                    <option value="No">No</option>
                </select>
            </div>

            <button class="boton" type="button" id="btnEnviar">
                <i class="fas fa-save"></i> Realizar registro
            </button>
        </fieldset>
    </form>
</section>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
    <script src="{% static 'js/calendario.js' %}"></script>
{% endblock %}
