{% extends "base_header_1.html" %}
{% load static %}
{% load humanize %}

{% block title %}
<title> Procesos Agrícolas </title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/tablas.css' %}">
<link rel="stylesheet" href="{% static 'css/filtro_lotes.css' %}">

{% endblock %}

{% block logotipo %}
Procesos Agrícolas
{% endblock %}


{% block content %}

{% include "procesos/filtro_proceso_agricola.html" %}

<section class="tabla">
    <div class="tabla-scroll-wrapper">
        <table>
            <tr>
                <th>Código del proceso agrícola</th>
                <th>Código del lote</th>
                <th>Nombre del lote</th>
                <th>Documento del empleado</th>
                <th>Nombre del empleado</th>
                <th>Descripción del proceso agrícola</th>
                <th>Código agroquímico</th>
                <th>Nombre del agroquímico</th>
                <th>Cantidad agroquímico</th>
                <th>Fecha de registro</th>
            </tr>
            {% if proceso_agricola %}

            {% for item in proceso_agricola %}
            <tr>
                <td>{{ item.id_proceso }}</td>
                <td>{{ item.id_lote.id_lote|default:"lote inexistente" }}</td>
                <td>{{ item.nombre_lote }}</td>
                <td>{{ item.id_empleado.id_empleado|default:"empleado inexistente" }}</td>
                <td>{{ item.nombre_empleado }}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.id_inventario.id_inventario|default:"agroquímico inexistente" }}</td>
                <td>{{ item.nombre_agroquimico }}</td>
                <td>{{ item.cantidad|floatformat:0|intcomma }}</td>
                <td>{{ item.fecha|date:"d/m/Y"}}</td>
            </tr>
            {% endfor %}
            {% endif %}

            {% for i in filas_vacias %}
                <tr>
                    <td class="primero"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                </tr>
            {% endfor %}
            
        </table>
    </div>
</section>

<div class="ingresar">
    <a href="{% url 'registrar_procesos_agricolas' %}" class="agregar-btn">+</a>
    <span class="agregar-texto">Agregar</span>
</div>
{% endblock %}

{% block extra_scripts %}
{% if mostrar_modal %}
<script src="{% static 'js/modal_auto_show.js' %}"></script>
{% endif %}
{% endblock %}