{% extends "base_registros.html" %}
{% load static %}

{% block title %}
<title>Registrar proceso de producción</title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{% static 'css/formularios.css' %}">
<link rel="stylesheet" href="{% static 'css/validaciones.css' %}">


{% endblock %}

{% block content %}
<div class="cerrar-login">
    <a href="{% url 'proceso_de_produccion' %}" title="Cancelar e ir atrás">✖</a>
</div>

<section class="contenedor_principal">

    <div class="logo">
        <a href="{% url 'inicio' %}" title="volver al inicio">
            <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
        </a>
    </div>

    <form id="formularioIngreso" method="post">
        {% csrf_token %}
        <fieldset class="encabezado">
            <legend>Proceso de producción</legend>

            {% if form.errors %}
                <div class="error-msg">Por favor, corrige los siguientes errores:</div>
            {% endif %}

            <!-- Documento del empleado -->
            <div class="botones">
                <i class="fa-solid fa-id-card"></i>
                <label for="id_empleado">documento empleado</label>
                <select name="id_empleado" id="id_empleado" required>
                    <option value="" disabled selected>Seleccionar empleado</option>
                    {% for empleado in empleados %}
                        <option value="{{ empleado.pk }}">{{ empleado.nombre }} {{ empleado.apellido }}</option>
                    {% endfor %}
                </select>
            </div>

            <!-- Tipo de grano -->
            <div class="botones">
                <i class="fa-solid fa-seedling"></i>
                <label for="tipo_producto">tipo de grano</label>
                <select name="tipo_producto" id="tipo_producto" required>
                    <option value="" disabled selected>Seleccionar el tipo de grano</option>
                    <option value="Café">Café</option>
                    <option value="Cardamomo">Cardamomo</option>
                </select>
            </div>

            <!-- Descripción del proceso -->
            <div class="botones">
                <i class="fa-solid fa-file-lines"></i>
                <label for="descripcion">descripción proceso</label>
                <textarea id="descripcion" name="descripcion" placeholder="Descripción del proceso..."
                    required></textarea>
            </div>

            {{form.cantidad.errors}}
            <div class="botones">
                <i class="fa-solid fa-weight-hanging"></i>
                <label for="cantidad">cantidad procesada</label>
                <input type="number" id="cantidad" name="cantidad" placeholder="Cantidad procesada (Kg)" step="0.01"
                    min="0" required value="{{ post_data.cantidad|default_if_none:'' }}">
            </div>


            <!-- Campo: Fecha  -->
            {{ form.fecha.errors }}
            <div class="botones">
                <span id="icono-calendario" style="cursor: pointer;">
                    <i class="fa-solid fa-calendar-days"></i>
                </span>
                <input type="text" id="fecha" name="fecha" required placeholder="Fecha"
                    value="{{ form.fecha.value|date:'Y-m-d'|default_if_none:'' }}">
            </div>


            <button class="boton" type="button" id="btnEnviar">
                <i class="fas fa-save"></i> Registrar proceso de producción
            </button>
        </fieldset>
    </form>
</section>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/es.js"></script>
<script src="{% static 'js/calendario.js' %}"></script>
{% endblock %}