{% extends "base_registros.html" %}
{% load static %}

{% block title %} 
    <title>Proceso de producción</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block content %}
<div class="cerrar-login">
    <a href="javascript:history.back()" title="Cancelar e ir atrás">✖</a>
</div>

<section class="contenedor_principal">

    <div class="logo">
        <a href="{% url 'inicio' %}" title="volver al inicio">
            <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
        </a>
    </div>

    <form id="formularioIngreso">
        <fieldset class="encabezado">
            <legend>Proceso de producción</legend>
            
            <!-- Documento del empleado -->
            <div class="botones">
                <i class="fa-solid fa-id-card"></i>
                <label for="documentoEmpleado">documento empleado</label>
                <input type="number" id="documentoEmpleado" name="documentoEmpleado" placeholder="Documento del empleado" min="0" required>
            </div>

            <!-- Campo: Tipo de arbusto (selección) -->
            <div class="botones">
                <i class="fa-solid fa-seedling"></i>
                <label for="Tipo_grano">Tipo de grano</label>
                <select name="Tipo_grano" id="Tipo_grano" required>
                    <option value="" disabled selected>Seleccionar el tipo de grano</option><!-- inicialmente muestra seleccionar el tipo de grano-->
                    <option value="Cafe">Café</option>
                    <option value="Cardamomo">Cardamomo</option>
                </select>
            </div>


            <!-- Descripción del proceso -->
            <div class="botones">
                <i class="fa-solid fa-file-lines"></i>
                <label for="descripcionProceso">Descripcion Proceso</label>
                <textarea id="descripcionProceso" name="descripcionProceso" placeholder="Descripción del proceso..." required></textarea>
            </div>


            <!-- Cantidad de grano procesada -->
            <div class="botones">
                <i class="fa-solid fa-weight-hanging"></i>
                <label for="cantidad_procesada"> cantidad procesada</label>
                <input type="number" id="cantidad_procesada" name="cantidad_procesada" placeholder="Cantidad procesada (Kg)"  min="0" required>
            </div>
            
            <button class="boton" type="button" id="btnEnviar"><i class="fas fa-save"></i> Registrar proceso de producción</button>
        </fieldset>
    </form>
</section>
{% endblock %}
