{% extends "base_registros.html" %}
{% load static %}

{% block title %} 
    <title>Registrar proceso de producción</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/formularios.css' %}">
{% endblock %}

{% block content %}
<div class="cerrar-login">
    <a href="{% url 'proceso_de_produccion' %}" title="Cancelar e ir atrás">✖</a>
</div>

<section class="contenedor_principal">

    <div class="logo">
        <a href="{% url 'inicio' %}" title="volver al inicio">
            <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
        </a>
    </div>

    <form id="formularioIngreso">
        {% csrf_token %}
        <fieldset class="encabezado">
            <legend>Proceso de producción</legend>

            <!-- Documento del empleado -->
            <div class="botones">
                <i class="fa-solid fa-id-card"></i>
                <label for="id_empleado">documento empleado</label>
                <input type="number" id="id_empleado" name="id_empleado" placeholder="Documento del empleado" min="0" required>
            </div>

            <!-- Tipo de grano -->
            <div class="botones">
                <i class="fa-solid fa-seedling"></i>
                <label for="tipo_producto">tipo de grano</label>
                <select name="tipo_producto" id="tipo_producto" required>
                    <option value="" disabled selected>Seleccionar el tipo de grano</option>
                    <option value="Café">Café</option>
                    <option value="Cardamomo">Cardamomo</option>
                </select>
            </div>

            <!-- Descripción del proceso -->
            <div class="botones">
                <i class="fa-solid fa-file-lines"></i>
                <label for="descripcion">descripción proceso</label>
                <textarea id="descripcion" name="descripcion" placeholder="Descripción del proceso..." required></textarea>
            </div>

            <!-- Cantidad procesada -->
            <div class="botones">
                <i class="fa-solid fa-weight-hanging"></i>
                <label for="cantidad">cantidad procesada</label>
                <input type="number" id="cantidad" name="cantidad" placeholder="Cantidad procesada (Kg)" step="0.01" min="0" required>
            </div>

            <button class="boton" type="button" id="btnEnviar">
                <i class="fas fa-save"></i> Registrar proceso de producción
            </button>
        </fieldset>
    </form>
</section>
{% endblock %}
