{% extends "base_header_1.html" %}
{% load static %}
{% load humanize %}

{% block title %}
<title> Ingresos y egresos </title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'css/tablas.css' %}">
<link rel="stylesheet" href="{% static 'cafe_cardamomo/css/informe.css' %}">
<link rel="stylesheet" href="{% static 'css/filtro_lotes.css' %}">
{% endblock %}

{% block logotipo %}
Ingresos y egresos
{% endblock %}

{% block nav_icons %}

<div class="menu boton">
    <div class="boton">
        <button>
            <i class="fa-solid fa-file-lines"></i>
        </button>
        <span>Informes</span>
    </div>

    <ul class="submenu">
        <li><a href="{% url 'informe_anual' %}">Anual</a></li>
        <li><a href="{% url 'informe_mensual' %}">Mensual</a></li>
    </ul>
</div>

<form id="formularioIngreso" action="{% url 'ingresos_egresos' %}" method="post" class="form-accion">
    {% csrf_token %}
    <input type="hidden" name="elemento" id="elemento_oculto">

    <div class="boton dropdown" title="Descargar datos">
        <button type="button">
            <i class="fas fa-download"></i>
        </button>
        <div class="dropdown-content">
            <a
                href="{% url 'exportar_ingresos_egresos_excel' %}?documento_admin={{ filtro_documento_admin }}&tipo={{ filtro_tipo }}&fecha={{ filtro_fecha }}&monto={{ filtro_monto }}">Excel</a>
            <a
                href="{% url 'exportar_ingresos_egresos_pdf' %}?documento_admin={{ filtro_documento_admin }}&tipo={{ filtro_tipo }}&fecha={{ filtro_fecha }}&monto={{ filtro_monto }}">PDF</a>
        </div>
        <span>Descargas</span>
    </div>

    <div class="boton">
        <button type="button" name="accion"  id="btnEliminar" title="Eliminar">
            <i class="fas fa-trash"></i>
        </button>
        <span>Eliminar</span>
    </div>
{%endblock%}

{% block content %}
{% include "ingresos_egresos/filtro_ingresos_egresos.html" %}

<section class="tabla">
    <div class="tabla-scroll-wrapper">
        <form action="{% url 'ingresos_egresos' %}" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <th class="primero"></th>
                    <th>Código ingresos o egresos</th>
                    <th>Documento del administrador</th>
                    <th>Nombre del administrador</th>
                    <th>Tipo (ingreso/egreso)</th>
                    <th>Descripción</th>
                    <th>Fecha</th>
                    <th>Valor</th>
                </tr>

                {% if Ingresos_Egresos%}
                {% for item in Ingresos_Egresos %}
                <tr class="radio-fila">
                    <td class="primero">
                        <input type="checkbox" name="elemento" id="ingreso_egreso{{ item.id_transaccion }}"

                            value="{{ item.id_transaccion }}" required>
                    </td>
                    <td><label for="ingreso_egreso{{ item.id_transaccion }}">{{ item.id_transaccion }}</label></td>
                    <td><label for="ingreso_egreso{{ item.id_transaccion }}">{{ item.id_admin.id_admin }}</label></td>
                    <td><label for="ingreso_egreso{{ item.id_transaccion }}">{{ item.id_admin.nombre }}</label></td>
                    <td><label for="ingreso_egreso{{ item.id_transaccion }}">{{ item.tipo }}</label></td>
                    <td><label for="ingreso_egreso{{ item.id_transaccion }}">{{ item.descripcion }}</label></td>
                    <td><label for="ingreso_egreso{{ item.id_transaccion }}">{{ item.fecha|date:"d/m/Y" }}</label></td>
                    <td><label for="ingreso_egreso{{ item.id_transaccion }}">{{ item.monto|intcomma}}</label></td>
                </tr>
                    
                {% endfor %}
                {% endif %}

                {% for i in filas_vacias %}
                    <tr>
                        <td class="primero"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                    </tr>
                {% endfor %}
            </table>
        </form>
    </div>
</section>

<div class="ingresar">
    <a href="{% url 'registro_ingresos_egresos' %}" class="agregar-btn">+</a>
    <span class="agregar-texto">Agregar</span>
</div>
{% endblock %}