{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar contraseña</title>
    <link rel="icon" href="{% static 'img/icono_agronova.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'core/css/contraseña.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <main>
        <div class="cerrar-login">
            <a href="javascript:history.back()" title="Cancelar e ir atrás">✖</a>
        </div>
        
        <section class="contenedor_principal">

            <div class="logo">
                <a href="{% url 'home' %}" title="volver al inicio">
                    <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
                </a>
            </div>

            <form method="post" >
                {% csrf_token %}
                <fieldset class="encabezado">
                    <legend>Contraseña</legend>

                    <div class="botones">
                        <i class="fa-solid fa-envelope"></i> 
                        <label for="email">Correo electrónico</label>
                        <input id="email" name="email" type="email" placeholder="Correo electrónico" required />
                    </div>

                    <button class="boton" type="submit"><i class="fas fa-lock"></i>Cambiar contraseña</button>

                    <div class="volver">
                        <a href="{% url 'login' %}">Volver a inicio de sesión</a>
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
</body>
</html>