{% extends "base_home.html" %}
{% load static %}

{% block title %} 
    <title>Historia de la Elisa </title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'core/css/Historia.css' %}">
{% endblock %}

{% block content %}
    <section class="contenedor">
        <section class="contenedor_principal">
            <section class="contenedor_izquierdo">
            </section>

            <section class="contenedor_derecho">
            </section>
        </section>

        <section class="contenedor_secundario">
            <h2>Historia</h2>
            <p>
                La Finca La Elisa nació gracias a Gonzalo Gaviria, un escritor y profesor universitario que, en sus inicios, no tenía interés en el mundo agrícola. Sin embargo, su destino cambió cuando dos mujeres le propusieron adquirir una parte de la finca. Aunque en un principio rechazó la oferta, terminó convencido por ellas y decidió hacer la compra.
            </p>

            <p>
                Tiempo después, le ofrecieron la otra parte de la finca, pero no contaba con los recursos suficientes para pagarla de inmediato. Por ello, llegó a un acuerdo para adquirirla en pagos, logrando finalmente ser el dueño total del terreno. Con el paso del tiempo, se preguntó qué hacer con la finca y tuvo la visión de crear su propia marca de café, incorporando un ingrediente especial: el cardamomo, una especia traída por árabes que le daría un toque distintivo a su producto.
            </p>

            <p>
                Así, con esfuerzo y dedicación, La Finca La Elisa creció hasta convertirse en un referente en la producción de café, destacándose tanto a nivel nacional como internacional. Actualmente, es una marca reconocida y un destino turístico visitado por personas de 33 países. Además, cuenta con el Sello Verde Nacional gracias a su compromiso con la conservación de la flora y fauna, promoviendo el ecoturismo a través de sus senderos naturales.
            </p>
        </section>
    </section>
{% endblock %}

