{%extends "base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
<title>Software Agrícola - Agronova</title>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
<link rel="stylesheet" href="{% static 'core/css/modal_alertas.css' %}">
<link rel="stylesheet" href="{% static 'core/css/modal_tareas.css' %}">
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.css" rel="stylesheet">
{% endblock %}

{% block header %}
<img class="logo" src="{% static 'img/logo_agronova.png' %}" alt="logo - Agronova">
<nav class="menu">
    <ul>
        <li class="menu-item"><a href="{% url 'gestionar_personal' %}">Personal</a></li>

        <li class="menu-item">
            <a href="#">Café y cardamomo ▾</a>
            <ul class="submenu">
                <li><a href="{% url 'gestionar_lote' %}">Lotes</a></li>
                <li><a href="{% url 'gestionar_recoleccion' %}">Recolección</a></li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#">Procesos ▾</a>
            <ul class="submenu">
                <li><a href="{% url 'proceso_de_produccion' %}">Procesos de producción</a></li>
                <li><a href="{% url 'procesos_agricolas' %}">Procesos agricolas</a></li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#">Inventarios ▾</a>
            <ul class="submenu">
                <li><a href="{% url 'inventario_producto_final' %}">Producto final</a></li>
                <li><a href="{% url 'inventario_arbustos' %}">Arbustos</a></li>
                <li><a href="{% url 'inventario_agroquimicos' %}">Agroquimicos</a></li>
                <li><a href="{% url 'inventario_herramientas' %}">Herramientas</a></li>
            </ul>
        </li>

        <li class="menu-item">
            <a href="#">Transacciones ▾</a>
            <ul class="submenu">
                <li><a href="{% url 'ingresos_egresos' %}">Ingresos y egresos</a></li>
                <li><a href="{% url 'ventas' %}">Ventas</a></li>
            </ul>
        </li>
        <li class="menu-item"><a href="{% url 'gestionar_administrador' %}">Administrador</a></li>

        <li class="menu-item">
            <a class="icono-yo" href="#">
                <img src="https://cdn-icons-png.flaticon.com/512/3106/3106921.png" alt="Sobre mí">
            </a>
            <ul class="submenu sobre-mi">
                <li><a href="{% url 'sobre_mi' %}">Sobre mi</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn-logout">
                            <i class="fas fa-sign-out-alt"></i> Cerrar sesion
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    </ul>
</nav>
{% endblock %}

{% block content %}
<section class="paneles ">

    <a href="{% url 'proceso_de_produccion' %}" class="panel panel-principal enlace-panel">
        <img src="{% static 'img/icono_produccion.png' %}" alt="Producción final">
        <section class="produccion-mensual">
            <h3>{{ mes_actual }}</h3>
            <h4>Producción mensual</h4>
            <ul>
                <li><strong>{{ produccion.Café|floatformat:0 }} kg</strong> de café</li>
                <li><strong>{{ produccion.Cardamomo|floatformat:0 }} kg</strong> de cardamomo</li>
            </ul>
        </section>
    </a>

    <a href="{% url 'inventario_agroquimicos' %}" class="panel panel-principal enlace-panel">
        <img src="{% static 'img/icono-agroquimico.png'%}" alt="Agroquímicos">
        <section class="inventario-agroquimicos">
            <h3>{{ nombre_mes }}</h3>
            <h4>Inventario Agroquímicos</h4>
            <ul>
                {% for item in agroquimicos %}
                    <li>{{ item.id_inventario__nombre }}: <strong>{{ item.id_inventario__stock|floatformat:0 }} {{item.id_inventario__unidad }}</strong></li>
                {% empty %}
                    <li>No hay datos este mes.</li>
                {% endfor %}
            </ul>
        </section>
    </a>


    <a href="{% url 'inventario_producto_final' %}" class="panel panel-principal enlace-panel">
        <img src="{% static 'img/icono-producto-final.png'%}" alt="Producto final">
        <section class="inventario-producto-final">
            <h3>{{ mes_ventas }}</h3>
            <h4>Productos mas vendidos</h4>
            <ul>
                {% for producto in productos_vendidos %}
                    <li>{{ producto.id_producto__nombre }} {{ producto.id_producto__contenido }} {{ producto.id_producto__unidad }}: <strong>{{ producto.total_vendido|floatformat:0 }}</strong> </li>
                {% empty %}
                    <li>No hay ventas registradas este mes.</li>
                {% endfor %}
            </ul>
        </section>
    </a>


    <section class="panel informe-mensual">
        <h3>Recolecció mensual</h3>
        <img src="data:image/png;base64,{{ grafico }}" alt="Gráfico de recolección" />
    </section>

    <section class="panel calendario">
        <div id="custom-calendar-header" class="custom-header">
            <button id="btn-prev">
                <i class="fas fa-chevron-left"></i>
            </button>
            <div id="calendar-title"></div>
            <button id="btn-next">
                <i class="fas fa-chevron-right"></i>
            </button>
        </div>

        <div id="calendario-js"></div>
        <section class="botones">
            <button onclick="abrirModalTarea()" class="boton-agregar-tarea"  style="cursor: pointer;">+</button>
            <button onclick="abrirModalEliminar()" class="boton-eliminar-tarea" style="cursor: pointer;">
                <i class="fas fa-trash"></i>
            </button>
            <button type="button" onclick="abrirModalActualizar()" class="boton-actualizar-tarea" style="cursor: pointer;">
                <i class="fas fa-arrows-rotate"></i>
            </button>
        </section>
    </section>


    <section class="panel-secundario">

        <section class="panel finanzas">
            <a href="{% url 'ingresos_egresos' %}" class="enlace-panel">
                <img src="{% static 'img/icono-finanzas.png'%}" alt="Finanzas">
                <section class="control-finanzas">
                    <h3>{{ mes_finanzas }}</h3>
                    <h4>Finanzas</h4>
                    <ul>
                        <li>Ingresos: <strong>${{ finanzas.Ingreso|floatformat:0|intcomma }}</strong></li>
                        <li>Egresos: <strong>${{ finanzas.Egreso|floatformat:0|intcomma }}</strong></li>
                    </ul>
                </section>
            </a>
        </section>

        <section class="panel alerta" onclick="abrirModalAlertas()" style="cursor: pointer;">
            <h3>Alertas del mes</h3>
            <ul>
                {% for alerta in alertas|slice:":1" %}
                <li>{{ alerta }}</li>
                {% empty %}
                <li>No hay alertas este mes</li>
                {% endfor %}
                {% if alertas|length >= 1 %}
                <li><strong>...</strong></li>
                {% endif %}
            </ul>
        </section>
    </section>

    <a href="{% url 'gestionar_personal' %}" class="panel trabajador enlace-panel">
        <img src="{% static 'img/icono-trabajador.png'%}" alt="Empleados">
        <section class="panel-trabajo">
            <h3>Total de empleados</h3>
            <ul>
                <li><strong>{{ empleados.no_vinculados }}</strong> Empleados no vinculados</li>
                <li><strong>{{ empleados.vinculados }}</strong> Empleados vinculados</li>
                <li>Siendo un total de: <strong>{{ empleados.total }} empleados</strong> en total</li>
            </ul>
        </section>
    </a>
    {% include 'core/modal_alertas.html' %}
    {% include 'core/modal_tareas.html' %}
</section>

{% endblock %}

{% block extra_scripts %}
<script src="{% static 'core/js/modal_alertas.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script>
    window.eventos = {{ eventos|safe }};
</script>
<script src="{% static 'core/js/calendario.js' %}"></script>
<script src="{% static 'core/js/modal_tarea.js' %}"></script>
{% endblock %}
