{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión - Agronova</title>
    <link rel="icon" href="{% static 'img/icono_agronova.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'core/css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">

</head>

<body>
    <main>
        <div class="cerrar-login">
            <a href="{% url 'home' %}" title="Cancelar e ir atrás">&times;</a>
        </div>

        <section class="contenedor_principal">

            <div class="logo">
                <a href="{% url 'home' %}" title="Volver al inicio">
                    <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="Logo Agronova">
                </a>
            </div>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <fieldset class="encabezado">

                    {% if form.errors %}
                        <div class="mensaje-error">
                            <p>Correo o contraseña incorrectos. Inténtalo de nuevo.</p>
                        </div>
                    {% endif %}
                
                    <legend>Inicio de sesión</legend>

                    <div class="botones">
                        <i class="fa-solid fa-envelope"></i>
                        <input name="username" type="email" placeholder="Correo electrónico" required />
                    </div>

                    <div class="botones">
                        <i class="fa-solid fa-key"></i>
                        <input id="password" name="password" type="password" placeholder="Contraseña" required />
                    </div>

                    <div class="info_extra">
                        <label for="terminos">
                            <input type="checkbox" id="terminos" name="terminos" required />
                            Acepto los <a href="{% url 'terminos_condiciones' %}">Términos y Condiciones</a>
                        </label>
                        <a class="recuperar" href="{% url 'contraseña' %}">Recuperar contraseña</a>
                    </div>

                    <button class="boton" type="submit">
                        <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión
                    </button>
                </fieldset>
            </form>
        </section>
    </main>
</body>
</html>
