{% extends "base_home.html" %}
{% load static %}

{% block title %} 
    <title>Misión y visión Agronova</title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'core/css/mision_elisa.css' %}">
{% endblock %}

{% block content %}
<main>
    <section class="contenedor">
        <section class="izquierdo">
            <h2>Misión</h2>
            <p>La finca La Elisa tiene como misión esencial el cultivo de productos agrícolas de alta competitividad en el ámbito de un agradable ambiente natural donde sobresale el respeto y la conservación de la flora, la fauna y los recursos hídricos; con soporte en un equipo humano de labores agrícolas altamente calificado y comprometido, y unos insumos con las mejores condiciones de calidad y rentabilidad proyectados al mercado nacional e internacional.</p>
        </section>

        <section class="derecho">
            <h2>Visión</h2>
            <p>La finca La Elisa será en el año 2025 una granja piloto, diversificada y autosuficiente, con productos agrícolas dotados de una alta dosis de valor agregado, con vocación agro turística y eco turística, capaz de ofrecer no solamente los mejores productos agropecuarios sino los más halagadores planes agro turísticos en el ámbito nacional e internacional.</p>
        </section>
    </section>
</main>
{% endblock %}
