{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Cambiar contraseña</title>
    <link rel="stylesheet" href="{% static 'core/css/contraseña.css' %}">
</head>

<body>
    <main>
        <section class="contenedor_principal">
            <div class="logo">
                <a href="{% url 'inicio' %}">
                    <img class="logo-item" src="{% static 'img/logo_agronova.png' %}" alt="Logo Agronova">
                </a>
            </div>

            <form method="post">
                {% csrf_token %}
                <fieldset class="encabezado">
                    <legend>Cambiar contraseña</legend>

                    {{ form.as_p }}

                    <button type="submit" class="boton">
                        <i class="fas fa-key"></i> Cambiar contraseña
                    </button>
                </fieldset>
            </form>
        </section>
    </main>
</body>

</html>