{% extends "base_home.html" %}
{% load static %}

{% block title %} 
    <title>Que es gronova </title>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'core/css/que_es_agronova.css' %}">
{% endblock %}

{% block content %}
    <section class="contenedor_izquierdo">
        <h2>¿Qué es Agronova?</h2>
        <p>
            AGRONOVA  es un sistema integral de gestión agrícola diseñado específicamente para la Finca La Elisa, con el objetivo de mejorar la administración y el control de los procesos productivos del café y el cardamomo. Esta plataforma digital automatiza registros financieros, optimiza la gestión de inventarios y permite un seguimiento detallado de las actividades agrícolas. Además, facilita la toma de decisiones estratégicas para mejorar la rentabilidad y la sostenibilidad de la finca
        </p>
    </section>

    <section class="contenedor_derecho">

    </section>
{% endblock %}

